html {
  background-image: url("assets/loginbgimage.jpg");
  background-position: center;
  font-family: serif;
  font-weight: bold;
  background-size: cover;
}

form {
  background: rgba(1, 10, 35, 0.7);
  text-align: left;
  color: white;
  border: 1px solid grey;
  margin-top: 100px;
  margin-right: 460px;
  margin-left: 410px;
  padding: 10px;
}

span {
  size: 3px;
  color: red;
}

li {
  list-style: none;
  margin-right: 40px;
}

img {
  width: 100%;
  height: auto;
}

/*------------------------------------------------------------------------------------------------------------------------------------------------------*/
